*
{
	margin:0px;
	padding:0px;
	
}
body
{
	background-color:red;
}
section
{
	height:100vh;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
background-color:#82ccdd;
}
section h1
{
	text-transform:capitalize;
	padding-bottom:30px;
	font-size:2rem;
	text-shadow:1px 1px 2px white;
	animation:zooms 1s linear infinite;
	animation-direction:alternate;
}
@keyframes zooms{
	from{transform:translateX(-20px);}
	to{transform:translateX(20px);}
}
.centerdiv
{
	width:500px;
	height:400px;
	background-color:blue;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	border-radius:280px;
}
.insertbox
{
	display:flex;
	justify-content:center;
	align-items:center;
	height:100px;
	
}
#v1,#v2
{
	text-align:center;
	width:75px;
	height:80px;
    font-size:30px;
	box-shadow:1px 1px 1px black,
               2px 2px 1px black,
               3px 3px 1px black,
               4px 4px 1px black,
               5px 5px 1px black;	   
	background-color:black;
	color:white;
}
.box1 p
{
	font-size:60px;
	margin:0px 10px;
	
}
.middlebox #answ
{
	margin:30px;
	font-size:30px;
	padding:8px;
	text-align:center;
	width:110px;
	background-color:red;
}
.sentbox
{
	padding:10px 20px;
	font-size:2rem;
	background-color:green;
	width:230px;
	text-align:center;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	box-shadow:5px 5px 5px;
}
